{% extends "fakecsv/base.html" %}

{% block title %}
Schema List
{% endblock title %}

{% block content %}
<div class="container py-4">
    <h2>Schema List</h2>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for schema in schema %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ schema.name }}</td>
                <td>{{ schema.created }}</td>
                <td>
                    <a href="{% url 'fakecsv:edit_schema' pk=schema.pk %}" class="btn btn-dark">Edit</a>
                    <a href="{% url 'fakecsv:detail_schema' pk=schema.pk %}" class="btn btn-info">Detail</a>
                    <a href="{% url 'fakecsv:delete_schema' pk=schema.pk %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}